@model Pizza

<!--PAGINA DEL FORM PER MODIFICARE UNA PIZZA-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Nuova Pizza</h1>
            </div>
            <form action="@Url.Action("Modify", "Pizza")" method="post">
                @Html.AntiForgeryToken()
                <div class="col-12 mb-3">
                    <strong>Immagine:</strong>
                    <input asp-for="Image" class="d-block w-100" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="col-6 mb-3">
                    <strong>Titolo:</strong>
                    <input asp-for="Name" class="d-block w-100" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-6 mb-3">
                    <strong>Prezzo:</strong>
                    <input asp-for="Price" class="d-block w-100" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Descrizione:</strong>
                    <textarea asp-for="Description" rows="7" class="d-block w-100"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="text-end text-center">
                    <input type="submit" class="btn btn-small btn-danger" value="Salva">
                </div>
            </form>
        </div>
    </div>
</div>

